# Python junk
__pycache__/
*.py[cod]

# PyInstaller
build/
dist/
*.spec
*.exe

# Audio/Video
*.mp3
*.mp4
*.wav
*.mov

# VS Code / Workspace stuff
.vscode/
*.code-workspace

# OS garbage
.DS_Store
Thumbs.db

*.mp3
*.mp4
*.ico
*.png


